/* When a browser reads a stylesheet, it will format the HTML document according to the information in the style sheet.
There are three ways of inserting a style sheet:
External CSS
Internal CSS
Inline CSS
External styles are defined within the <link> element, inside the <head> section of an HTML page:
<head>
<link rel="stylesheet" href="mystyle.css">
</head>
Internal styles are defined within the <style> element, inside the <head> section of an HTML page:
<head>
<style>
body {
  background-color: linen;
}

h1 {
  color: maroon;
  margin-left: 40px;
}
</style>
</head>
Inline styles are defined within the "style" attribute of the relevant element:
<h1 style="color:blue;text-align:center;">This is a heading</h1>
<p style="color:red;">This is a paragraph.</p>
If the internal style is defined after the link to the external style sheet, the <h1> elements will be "orange":
A CSS comment is placed inside the <style> element, and starts with /* and ends with *

CSS background properties are used to add background effects for elements.
background: red;
background-color: green;

The opacity property specifies the opacity/transparency of an element. It can take a value from 0.0 - 1.0. The lower value, the more transparent.
div {
  background-color: green;
  opacity: 0.3;
}

The background-image property specifies an image to use as the background of an element.
background-image: url("paper.gif");

If the image above is repeated only horizontally (background-repeat: repeat-x;), the background will look better:
background-image: url("img_tree.png");
background-repeat: repeat-x;
background-attachment:
background-position:

The border-style property specifies what kind of border to display
dotted - Defines a dotted border
dashed - Defines a dashed border
solid - Defines a solid border
double - Defines a double border
groove - Defines a 3D grooved border. The effect depends on the border-color value
ridge - Defines a 3D ridged border. The effect depends on the border-color value
inset - Defines a 3D inset border. The effect depends on the border-color value
outset - Defines a 3D outset border. The effect depends on the border-color value
none - Defines no border
hidden - Defines a hidden border

p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}

The border-width property specifies the width of the four borders.
p.one {
  border-style: solid;
  border-width: 5px;
}
The border-color property is used to set the color of the four borders.
p.one {
  border-style: solid;
  border-color: red green blue yellow;
} 
The border-radius property is used to add rounded borders to an element.
p {
  border: 2px solid red;
  border-radius: 5px;
}
The CSS margin properties are used to create space around elements, outside of any defined borders.
p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
Padding is used to create space around an element's content, inside of any defined borders.
The CSS padding properties are used to generate space around an element's content, inside of any defined borders.
div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
The CSS height and width properties are used to set the height and width of an element.
The CSS max-width property is used to set the maximum width of an element.
This element has a height of 50 pixels and a width of 100%.
div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}
div {
  max-width: 500px;
  height: 100px;
  background-color: powderblue;
}
In CSS, the term "box model" is used when talking about design and layout.
 It consists of: margins, borders, padding, and the actual content. 
Content - The content of the box, where text and images appear
Padding - Clears an area around the content. The padding is transparent
Border - A border that goes around the padding and content
Margin - Clears an area outside the border. The margin is transparent

*/
