<div class="slide-bar">
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">HTML</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">CSS</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">JAVASCRIPT</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">SQL</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">PYTHON</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">JAVA</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">PHP</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">BOOTSTRAP</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">HOW TO</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">W3.CSS</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">C</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">C++</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">C#</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">REACT</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">R</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">DJANGO</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">JQUERY</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">TYPESCRIPT</button>
  </a>
  <a
    href="https://www.w3schools.com/html/default.asp"
    target="_blank"
    title="Html"
  >
    <button class="slidebarbutton">NODEJS</button>
  </a>
</div>
