body {
  margin: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
  width: 150px;
}

.card {
  width: 450px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  /*background: #ddebf8; */
  background-image: url("backgroundpic.webp");
  color: #392b28;
  border-bottom: 6px solid #156fddbf;
}

.border-blue {
  border: 1px dotted blue;
}
