.promotion-section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promotion-image {
  border-radius: 5px;
  display: flex;
  width: auto;
  padding-top: 30px;
  margin: 10px;
  border-radius: 10px;
}
