<div class="promotion-section">
  <a
    href="https://www.w3schools.com/bootcamp/"
    target="_blank"
    title="Bootcamp"
  >
    <img class="promotion-image" src="assets/img4.png" alt="Backend Course" />
  </a>
  <a href="https://www.w3schools.com/spaces/" target="_blank" title="Backend">
    <img class="promotion-image" src="assets/img3.png" alt="Backend Course" />
  </a>
  <a
    href="https://www.w3schools.com/bootcamp/"
    target="_blank"
    title="Bootcamp"
  >
    <img class="promotion-image" src="assets/img2.png" alt="Backend Course" />
  </a>
  <a
    href="https://www.w3schools.com/spaces/"
    target="_blank"
    title="developing course"
  >
    <img
      class="promotion-image"
      src="assets/img.png"
      alt="Get started with Web Development"
    />
  </a>
  <a
    href="https://www.w3schools.com/bootcamp/"
    target="_blank"
    title="Bootcamp"
  >
    <img class="promotion-image" src="assets/img5.png" alt="Backend Course" />
  </a>
  <a
    href="https://www.w3schools.com/bootcamp/"
    target="_blank"
    title="Bootcamp"
  >
    <img class="promotion-image" src="assets/img6.png" alt="Backend Course" />
  </a>
  <a
    href="https://www.w3schools.com/bootcamp/"
    target="_blank"
    title="Bootcamp"
  >
    <img class="promotion-image" src="assets/img7.png" alt="Backend Course" />
  </a>
</div>
