.topic-content {
  display: flex;
  flex-direction: column;
}
.navigationbutton {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 30px;
  text-align: center;
}
.link-button {
  color: white;
  background-color: #04aa6d;
  border-width: 0px;
  border-radius: 3px;
  height: 40px;
  width: 90px;
  font-size: 15px;
  font-weight: bold;
}

.imp-box {
  background-color: #ffffcc;
  padding: 15px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box {
  margin-top: 30px;
  padding: 30px;
  background-color: #d9eee1;
}
.examplebox {
  background-color: #e7e9eb;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  border-radius: 7px;
  margin-bottom: 20px;
}
.innerbox {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 10px;
  border-left: 5px solid #04aa6d;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 2;
}
.green-button {
  color: white;
  background-color: #04aa6d;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-width: 0px;
  border-radius: 3px;
  font-size: 15px;
  margin-top: 20px;
  font-weight: bold;
}
.green-button:hover {
  background-color: #068254;
}

.black-button {
  color: white;
  background-color: black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-width: 0px;
  border-radius: 5px;
  margin-top: 15px;
}
.black-button:hover {
  background-color: #415147;
}
.blue-button {
  color: white;
  background-color: #2196f3;
  font-weight: bold;
  border-width: 0px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.color-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  margin-top: 10px;
  padding-right: 10%;
}
.colordivtext {
  display: flex;
  color: white;
  margin-right: 25px;
  height: 80px;
  width: 223px;
  justify-content: center;
  align-items: center;
}
h3 {
  padding-top: 20px;
  font-size: 25px;
}
