<div class="topic-content">
    <h1>HTML Tutorial</h1>

    <div class="navigationbutton">
      <button class="link-button">Previous</button>
      <button class="link-button">Next ></button>
    </div>
    <hr />
    <p>HTML is the standard markup language for creating Web pages.</p>
    <hr />
    <div class="box">
      <p>HTML is the standard markup language for Web pages.</p>
      <p>With HTML you can create your own Website.</p>
      <p>HTML is easy to learn - You will enjoy it!</p>
      <a
        href="https://www.w3schools.com/html/tryit.asp?filename=tryhtml_intro"
        target="_blank"
      >
        <button class="green-button">
          Study our free HTML Tutorial
        </button></a
      >
      <a href="https://www.w3schools.com/videos/index.php" target="_blank"
        ><button class="black-button">Watch Our Video tutorial</button></a
      >
    </div>

    <h1>Easy Learning with HTML "Try it Yourself"</h1>
    <p>
      With our "Try it Yourself" editor, you can edit the HTML code and view
      the result:
    </p>
    <div class="examplebox">
      <h3>Example</h3>
      <div class="innerbox">
        All HTML elements can have attributes Attributes<br />
        provide additional information about elements <br />Attributes are
        always specified in the start tag <br />Attributes usually come in
        name/value pairs<br />
        like:name="value"
      </div>
      <button class="green-button">Try it Yourself</button>
    </div>
    <hr />
    <p style="font-family: arial">
      <b>Click on the "Try it Yourself" button to see how it works.</b>
    </p>
    <hr />
    <h1>HTML Attributes</h1>
    <ul>
      <li>All HTML elements can have <b>attributes</b></li>
      <li>
        Attributes provide <b>additional information</b> about elements
      </li>
      <li>Attributes are always specified in <b>the start tag</b></li>
      <li>
        Attributes usually come in name/value pairs like:<b>name="value"</b>
      </li>
    </ul>
    <div class="imp-box">
      <p>
        The border-style property is used in the example above. However, it
        also works with border-width and border-color.
      </p>
    </div>
    <h1>CSS Color Names</h1>
    <p>
      In CSS, a color can be specified by using a predefined color name:
    </p>

    <div class="color-div">
      <p class="colordivtext" style="background-color: tomato">Tomato</p>
      <p class="colordivtext" style="background-color: orange">Orange</p>
      <p class="colordivtext" style="background-color: dodgerblue">
        DodgeBlue
      </p>
      <p class="colordivtext" style="background-color: mediumspringgreen">
        LightGreen
      </p>
      <p class="colordivtext" style="background-color: gray">Gray</p>
      <p class="colordivtext" style="background-color: slateblue">
        SlateBlue
      </p>
      <p class="colordivtext" style="background-color: violet">Violet</p>
      <p class="colordivtext" style="background-color: lightgray">
        LightGray
      </p>
    </div>
    <hr />
    <h1>HTML Quiz Test</h1>
    <p>Test your HTML skills with our HTML Quiz!</p>
    <button class="blue-button">Start HTML Quiz!</button>
    <hr />
    <h1>My Learning</h1>
    <p>
      Track your progress with the free "My Learning" program here at
      W3Schools.
    </p>
    <p>Log in to your account, and start earning points!</p>
    <p>
      This is an optional feature. You can study W3Schools without using My
      Learning.
    </p>
    <a
      href="https://profile.w3schools.com/log-in?redirect_url=https%3A%2F%2Fmy-learning.w3schools.com%2F"
      target="_blank"
    >
      <img src="assets/score.png" alt="My Learning">
  </div>