<div class="navigation-bar">
  <ul class="navigation-item">
    <a class="navigation-text" href="default.asp">HTML Tutorial</a>
    <a class="navigation-text" href="news.asp">HTML HOME</a>
    <a class="navigation-text" href="contact.asp">HTML Introduction </a>
    <a class="navigation-text" href="about.asp">HTML Basic </a>
    <a class="navigation-text" href="about.asp">HTML Elements </a>
    <a class="navigation-text" href="about.asp">HTML Attributes </a>
    <a class="navigation-text" href="about.asp">HTML Headings</a>
    <a class="navigation-text" href="about.asp">HTML Paragraphs </a>
    <a class="navigation-text" href="about.asp">HTML Styles</a>
    <a class="navigation-text" href="about.asp">HTML Formatting</a>
    <a class="navigation-text" href="about.asp">HTML Quotations</a>
    <a class="navigation-text" href="about.asp">HTML Comments</a>
    <a class="navigation-text" href="about.asp">HTML Colors</a>
    <a class="navigation-text" href="about.asp">HTML CSS</a>
    <a class="navigation-text" href="about.asp">HTML Links</a>
    <a class="navigation-text" href="about.asp">HTML Images</a>
    <a class="navigation-text" href="about.asp">HTML Favicon</a>
    <a class="navigation-text" href="about.asp">HTML Page Title </a>
    <a class="navigation-text" href="about.asp">HTML Tables</a>
    <a class="navigation-text" href="about.asp">HTML Lists</a>
    <a class="navigation-text" href="about.asp">HTML Block & Inline</a>
    <a class="navigation-text" href="about.asp">HTML Classes</a>
    <a class="navigation-text" href="about.asp">HTML Id </a>
    <a class="navigation-text" href="about.asp">HTML Iframes </a>
    <a class="navigation-text" href="about.asp">HTML JavaScript </a>
    <a class="navigation-text" href="about.asp">HTML File Paths</a>
    <a class="navigation-text" href="about.asp">HTML Head </a>
    <a class="navigation-text" href="about.asp">HTML Layout</a>
    <a class="navigation-text" href="about.asp">HTML Responsive</a>
    <a class="navigation-text" href="about.asp">HTML Computercode</a>
    <a class="navigation-text" href="about.asp">HTML Semantics</a>
    <a class="navigation-text" href="about.asp">HTML Style Guide </a>
    <a class="navigation-text" href="about.asp">HTML Entities</a>
    <a class="navigation-text" href="about.asp">HTML Symbols</a>
    <a class="navigation-text" href="about.asp">HTML Emojis</a>
    <a class="navigation-text" href="about.asp">HTML Charset</a>
    <a class="navigation-text" href="about.asp">HTML URL Encode </a>
    <a class="navigation-text" href="about.asp">HTML vs. XHTML </a>
  </ul>
</div>
