.navigation-bar {
  display: flex;
  flex: 1;
  height: 900px;
  overflow-y: scroll;
}
.navigation-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  padding-top: 20px;
  padding-left: 10px;
  background-color: #e7e9eb;
  font-size: 18px;
  line-height: 30px;
}

.navigation-text {
  color: black;
}
.navigation-text:hover {
  background-color: rgb(197, 197, 197);
}
.navigation-text:active {
  background-color: #04aa6d;
}
.navigationbutton {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 30px;
  text-align: center;
}
